In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [22]:
datafiles = 'chromium_m_h'
data = pd.read_csv(datafiles, sep = '\s+')
# data = np.array(data)

In [23]:
data

       temps       Champ  Masse        dBdz    Moment         T  (K)
0     12.051    5.683308    0.0   -3.250575 -0.000000  44.61288  NaN
1     12.656    5.683389    0.0   -3.250618 -0.000000  44.61288  NaN
2     13.261    5.683234    0.0   -3.250591 -0.000000  44.61288  NaN
3     13.874    5.682954    0.0   -3.250409 -0.000000  44.61288  NaN
4     14.478    5.683318    0.0   -3.250695 -0.000000  44.61288  NaN
..       ...         ...    ...         ...       ...       ...  ...
272  177.180  110.789100 -143.0 -130.518400  1.095631  44.61288  NaN
273  177.789  110.793500 -143.0 -130.523800  1.095586  44.61288  NaN
274  178.397  110.780200 -143.0 -130.507200  1.095725  44.61288  NaN
275  179.004  110.779500 -144.0 -130.506200  1.103396  44.61288  NaN
276  179.612  110.774800 -144.0 -130.500500  1.103444  44.61288  NaN

[277 rows x 7 columns]

In [24]:
plt.plot(data[1], data[4])

KeyError: 1